.blogs-container{
    margin: 50px 150px 32px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 24px;   
}
.blog-container{
   width: 100%;
}
.side-container{
    margin-right: 20px;
    position: relative;
}


/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .blogs-container{
        margin: 20px 30px 16px;

    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    .blogs-container{
        display: block;
        margin: 20px 30px 16px;
    }
    .blog-container{
        width: 100%;

    }
    .side-container{
       margin-top: 24px;
       margin-right: 0px;
    }
    .side-container-upper{
        padding: 10px 25px;
    }
    .side-container-lower{
        padding: 15px;
    }
    
    .on-read-time{
        font-size: 18px;
    }
    .bookmarked-blogs{
        font-size: 18px;
    }

}
