.blogs-container{
    margin: 50px 150px 32px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    height: 100vh;
    
}
.blog-container{
   height: 300px;
   border: 5px solid red;
}
.side-container{
   height: 300px;
   border: 5px solid salmon;
}




@media only screen and (max-width: 767px) {
    .blogs-container{
        display: block;
        margin: 20px 60px 16px;
    }
    .side-container{
       margin-top: 24px;
    }
}
