.side-cart{
    position: sticky;
    top: 10px;
}
.side-container-upper{
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    padding: 21px 50px;
    margin-bottom: 24px;
}
.on-read-time{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #6047EC;
}
.side-container-lower{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 30px;
}
.bookmarked-blogs{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #111111;

}
.under-booked-mark-blogs{
    background: #FFFFFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    padding: 20px;
    height: 80px;
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .under-booked-mark-blogs{
    font-size: 22px;
  }
}

/* mobile */
@media only screen and (max-width: 767px) {
    .side-container-upper{
        padding: 10px 25px;
    }
    .side-container-lower{
        padding: 15px;
    }
    
    .on-read-time{
        font-size: 18px;
    }
    .bookmarked-blogs{
        font-size: 18px;
    }
    .under-booked-mark-blogs{
        font-size: 18px;
    }

}