.blog-mid-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-flex{
     display: flex;
     justify-content: space-between;
     align-items: center;
}